*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background-color: #f94550;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 10%;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
header .header-info {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-info .header__title {
  font-size: 80px;
  font-family: "Mochiy Pop P One", sans-serif;
}
header .header-info .header__subtitle {
  font-size: 40px;
}
header .header-info .header__text {
  font-size: 16px;
}
header .button-box {
  height: 40vh;
}
header .button-box button {
  border: 2px solid white;
  background: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
}
header .button-box button i {
  color: white;
}

main {
  background-image: url(../img/phone.png);
  background-position: center;
}

.shop {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}
.shop .card--cd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
}
.shop .card__img {
  padding: 10px 0;
}
.shop .card__img img {
  width: 100%;
  transition: 0.3s;
}
.shop .card__img img:hover {
  transform: scale(1.1);
}
.shop .card__title {
  font-weight: bold;
  padding: 10px 0;
  font-size: 32px;
  height: 50px;
  margin: 40px 0;
}
.shop .card__title:hover {
  text-decoration: line-through;
  cursor: crosshair;
}
.shop .card__price {
  padding: 10px 0;
  font-size: 24px;
}
.shop .card__size {
  padding: 10px 0;
  margin: 10px 0;
}
.shop .card__size select {
  font-size: 20px;
  background: none;
  border: none;
}
.shop .card__btn {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  transition: 0.4s;
  color: white;
}
.shop .card__btn:hover {
  background-color: white;
  color: #f94550;
  cursor: pointer;
}
.shop .card__title--cd {
  font-weight: bold;
  padding: 10px 0;
  font-size: 32px;
}
.shop .card__title--cd:hover {
  text-decoration: line-through;
  cursor: crosshair;
}
.shop .card__price--cd {
  padding: 10px 0;
  font-size: 24px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-image: url(../img/ikigai_bg_small.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5vh 0;
}
.newsletter .box__title {
  color: #f94550;
  font-size: 24px;
  font-weight: bold;
}
.newsletter .box__input--text {
  width: 100%;
  padding: 10px 10px;
  margin: 20px 0;
  border: 1px solid #f94550;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
}
.newsletter .box__input--submit {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #f94550;
  border-radius: 20px;
  background-color: #f94550;
  color: #d3f4f1;
}
.newsletter .box__input--submit:hover {
  cursor: pointer;
}

.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box .fa-brands {
  font-size: 36px;
  margin-top: 20px;
  margin-left: 20px;
  color: #d3f4f1;
  transition: 0.3s;
}
.footer__box .no-margin {
  margin-left: 0;
}
.footer__box .fa-brands:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.footer__box--copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3f4f1;
  padding: 30px 0;
}

.heartbeat {
  animation: heartbeat 2s ease-in-out 1s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-1 19:3:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@media (min-width: 768px) {
  header .header__title {
    font-size: 160px;
  }
  header .header__subtitle {
    font-size: 80px;
  }
  header .header__text {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  main {
    background-image: url(../img/desktop.png);
    background-position: center;
    background-size: cover;
  }
  header .header__title {
    font-size: 240px;
  }
  header .header__subtitle {
    font-size: 100px;
  }
  .shop {
    flex-direction: row;
  }
  .newsletter {
    height: 40vh;
    background-image: url(../img/ikigai_bg.png);
    padding: 10vh 0;
  }
  .newsletter .box__title {
    font-size: 30px;
  }
  .newsletter .box__input--text {
    width: 50%;
  }
  .newsletter .box__input--submit {
    padding: 13px;
  }
}/*# sourceMappingURL=style.css.map */