@use './colors' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	background-color: $main-color;
	font-family: 'Montserrat', sans-serif;
	color: $text-color;
	scroll-behavior: smooth;
}
.wrapper {
	padding: 0 10%;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
// Header
header {
	height: 100vh;
	@include flex-center();
	flex-direction: column;
	text-transform: uppercase;
	.header-info {
		height: 60vh;
		@include flex-center();
		flex-direction: column;
		.header__title {
			font-size: 80px;
			font-family: 'Mochiy Pop P One', sans-serif;
		}
		.header__subtitle {
			font-size: 40px;
		}
		.header__text {
			font-size: 16px;
		}
	}
	.button-box {
		height: 40vh;
		button {
			border: 2px solid $text-color;
			background: none;
			border-radius: 50%;
			padding: 10px;
			font-size: 16px;
			i {
				color: $text-color;
			}
		}
	}
}
main {
	background-image: url(../img/phone.png);
	background-position: center;
}
.shop {
	height: auto;
	width: 100%;
	@include flex-center();
	flex-direction: column;
	margin-bottom: 5vh;
	.card--cd {
		@include flex-center();
		flex-direction: column;
	}
	.card {
		@include flex-center();
		flex-direction: column;
		align-items: flex-start;
		padding: 20px 10px;
		&__img {
			padding: 10px 0;
			img {
				width: 100%;
				transition: 0.3s;
			}
			img:hover {
				transform: scale(1.1);
			}
		}
		&__title {
			font-weight: bold;
			padding: 10px 0;
			font-size: 32px;
			height: 50px;
			margin: 40px 0;
		}
		&__title:hover {
			text-decoration: line-through;
			cursor: crosshair;
		}
		&__price {
			padding: 10px 0;
			font-size: 24px;
		}
		&__size {
			padding: 10px 0;
			margin: 10px 0;
			select {
				font-size: 20px;
				background: none;
				border: none;
			}
		}
		&__btn {
			width: 100%;
			padding: 10px 0;
			font-size: 20px;
			background: none;
			border: 1px solid $text-color;
			border-radius: 20px;
			padding: 10px 30px;
			transition: 0.4s;
			color: $text-color;
		}
		&__btn:hover {
			background-color: $text-color;
			color: $main-color;
			cursor: pointer;
		}
		&__title--cd {
			font-weight: bold;
			padding: 10px 0;
			font-size: 32px;
		}
		&__title--cd:hover {
			text-decoration: line-through;
			cursor: crosshair;
		}
		&__price--cd {
			padding: 10px 0;
			font-size: 24px;
		}
	}
}
// Newsletter
.newsletter {
	@include flex-center();
	height: 30vh;
	background-image: url(../img/ikigai_bg_small.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 5vh 0;
	.box {
		&__title {
			color: $main-color;
			font-size: 24px;
			font-weight: bold;
		}
		&__input--text {
			width: 100%;
			padding: 10px 10px;
			margin: 20px 0;
			border: 1px solid $main-color;
			border-radius: 20px;
			background-color: transparent;
			font-size: 20px;
		}
		&__input--submit {
			font-size: 16px;
			padding: 8px;
			border: 1px solid $main-color;
			border-radius: 20px;
			background-color: $main-color;
			color: $secondary-color;
		}
		&__input--submit:hover {
			cursor: pointer;
		}
	}
}
// Footer
.footer {
	&__box {
		@include flex-center();
		.fa-brands {
			font-size: 36px;
			margin-top: 20px;
			margin-left: 20px;
			color: $secondary-color;
			transition: 0.3s;
		}
		.no-margin {
			margin-left: 0;
		}
		.fa-brands:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}
	&__box--copyrights {
		@include flex-center();
		color: $secondary-color;
		padding: 30px 0;
	}
}
.heartbeat {
	animation: heartbeat 2s ease-in-out 1s infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-1 19:3:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(0.91);
		animation-timing-function: ease-in;
	}
	17% {
		transform: scale(0.98);
		animation-timing-function: ease-out;
	}
	33% {
		transform: scale(0.87);
		animation-timing-function: ease-in;
	}
	45% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}
// Media queries
@media (min-width: 768px) {
	header {
		.header__title {
			font-size: 160px;
		}
		.header__subtitle {
			font-size: 80px;
		}
		.header__text {
			font-size: 32px;
		}
	}
}
@media (min-width: 1200px) {
	main {
		background-image: url(../img/desktop.png);
		background-position: center;
		background-size: cover;
	}
	header {
		.header__title {
			font-size: 240px;
		}
		.header__subtitle {
			font-size: 100px;
		}
	}
	.shop {
		flex-direction: row;
	}
	.newsletter {
		height: 40vh;
		background-image: url(../img/ikigai_bg.png);
		padding: 10vh 0;
		.box {
			&__title {
				font-size: 30px;
			}
			&__input--text {
				width: 50%;
			}
			&__input--submit {
				padding: 13px;
			}
		}
	}
}
